<!DOCTYPE html>
 <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
<html>
<html lang=ja>
    <head>
    <meta charset="UTF-8">
        <title>自己紹介</title>
        
    </head>
    
<body>
        <h1>はじめに</h1>
        <b>プログラミングを学ぼうと思ったきっかけは薬学部での実習だった。</p>
        <p>新型コロナウイルスの感染拡大に伴い深刻な人手不足の医療現場、それを見て思った</p>
        <p>今後医療現場の負担を減らすにはどうすれば良いか？</p>
        <p>そこで目を付けたのがAIやツールの活用、単純業務を徹底的に自動化してくれるツールが有れば今よりも現場の負担を減らせるのではないか？</p>
        <p>現場の医療従事者の知識や経験は計り知れないものであった。そして学生の自分が決して真似ができるものではないと悟った</p>
        <p>しかしながらミスの決して許されない医療現場、そこでは単純作業といえども責任重大・・・</p>
        <p>医療従事者はその膨大なタスクに追われて、知識や経験を生かせなくなってしまっている現状もあるのではないか？</p>
        <p>そんな中でも
        <p><span style="color:#F71B1B">使命を全うしている先輩方を僕はとても尊敬します</soan></p>
        <p>学生でも「サポート」であれば十分出来るのではないか？</p>
        <p>そう考えた僕が最初に目を付けた物がpython。元々ものづくりが好きだった僕はここに活路を見出した。</p>
        <p>将来的な目標は、<span style="color:#F71B1B">医療現場の負担を軽減するAIツールの開発</span>を成し遂げることだ。その為に学校で医療についてさらに知見を深め、同時に情報工学の基礎理論についても学んでいきたい</p>
        <style>
        h1{
                padding:15px;
                color:#272AEC;
                font-family:sans-serif;
                font-size:300%;
        }
                body{
            background-color:#B1FCB0;
        }
        </style>



<img src="https://th.bing.com/th/id/Ree007173e438422dfbba752fde4a1924?rik=h6GfvLCgIkJ13A&riu=http%3a%2f%2fimg-o.starrypages.net%2fimg%2ffreeillustration%2fpharmacist-d-05.png&ehk=8n3rTs9Pxg8%2bdNslDlolYeYokxAFl099rsq9McRa%2fwE%3d&risl=&pid=ImgRaw"
width="300" height="225">
</body>



<a class="btn btn-primary" href="#" onclick="history.back(); return false;">ホームに戻る</a>
        
        
        