<!DOCTYPE html>
<html>
    <h1>警告！！</h1>
    <head>
        <meta charset=utf8>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project Nyaan</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
    <style>
        body{
            padding:30px;
            background-color:#eb3434;
            color:#ebe534;
        }
    </style>
    </head>
    <body>
        <h1>やめよう　危険ドラッグ</h1>
        <p　class='lead'>甘い誘惑は身体も心も壊してしてしまう</p>
        <a class="btn btn-primary" href="#" onclick="history.back(); return false;">戻る</a>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>

</html>
