<!DOCTYPE html>
 <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
<html>
<h1>薬とは単なる、ダミーに過ぎない？</h1>
</html>
<style>
 h1{
                padding:15px;
                color:#272AEC;
                font-family:sans-serif;
                font-size:300%;
        }
</style>

<img src="https://th.bing.com/th/id/Re559545c206e70660eb4f4427619e653?rik=UKSpdhUGSMD5nQ&riu=http%3a%2f%2fmolecules.a.la9.jp%2fmethotrexate2.jpg&ehk=GgEz86LoSe%2bTaFGgKvuExMZgGeCKXXTFXDsLqUyXsvA%3d&risl=&pid=ImgRaw"
>